# Rust
/target

# LaTeX
_minted-*
_markdown_*
*.aux
*.out
*.log
*.fdb*
*.fls
*.gz
*.pdf
*.bbl
*.blg
!papers/graphics/*.pdf
!papers/tex/*.pdf

# Nix
**/result
**/result-*
.direnv

# Test coverage
/coverage
/lcov.info