[provider_peer_a]
Type = WireGuard
Name = Peer A VPN
Host = 198.51.100.11
WireGuard.Address = 10.44.0.1/24
WireGuard.ListenPort = 51820
WireGuard.PrivateKey = qKIj010hDdWSjQQyVCnEgthLXusBgm3I6HWrJUaJymc=
WireGuard.PublicKey = xTIB9kXjA/J6fQ6QtrQ5r4W4jV6L7B0W9Y5f2SOdT0k=
WireGuard.AllowedIPs = 10.44.0.2/32
WireGuard.EndpointPort = 51820
WireGuard.PersistentKeepalive = 25
