[provider_peer_b]
Type = WireGuard
Name = Peer B VPN
Host = 198.51.100.10
WireGuard.Address = 10.44.0.2/24
WireGuard.ListenPort = 51820
WireGuard.PrivateKey = 8YlIXAHJXnF8SY8f8wrfB09XJ4n8a2U6P6khyOtBWFM=
WireGuard.PublicKey = zzqUfWGIil6QxrAGz77HE5BGUEdD2PgHYnCg3CDKagE=
WireGuard.AllowedIPs = 10.44.0.1/32
WireGuard.EndpointPort = 51820
WireGuard.PersistentKeepalive = 25
