name: QC
on:
  pull_request:
  push:
    branches: [main]

permissions:
  checks: write
  contents: read

jobs:
  multi-peer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cargo build --bin rosenpass --release
      - run: python misc/generate_configs.py
      - run: chmod +x .ci/run-regression.sh
      - run: .ci/run-regression.sh 100 20
      - run: |
          [ $(ls -1 output/ate/out | wc -l) -eq 100 ]
